@using ProyectoMVC.Models.ViewModels
@model AnimalViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="index" class="container">
    <div class="row">
        <div id="animalList">
            <h1>Lista de Animales</h1>
            <ul>
                @foreach (Animal animal in Model.Animals)
                {
                    <li class="d-flex justify-content-between">
                        <form id="detailsForm" asp-area="" asp-controller="Animal" asp-action="AnimalDetail" method="post">
                            <span class="animal-id">ID: @animal.IdAnimal</span>@(animal.NombreAnimal)
                        </form>
                        <div class="d-flex">
                            <button type="submit" form="detailsForm" name="id" value="@animal.IdAnimal" class="btn btn-primary ms-2">Ver Detalles</button>
                            <form asp-area="" asp-controller="Home" asp-action="Delete" method="post">
                                <button type="submit" name="id" value="@animal.IdAnimal" class="btn btn-danger ms-2">Eliminar</button>
                            </form> 
                            <button type="submit" form="animalDataForm" name="id" value="@animal.IdAnimal" class="btn btn-warning ms-2">Cambiar</button>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>