@model ProyectoMVC.Models.ViewModels.DetailAnimalViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>Detalles del animal</h2>
    <p>ID: @Model.AnimalDetail.IdAnimal</p>
    <p>Nombre: @Model.AnimalDetail.NombreAnimal</p>
    <p>Raza: @Model.AnimalDetail.Raza</p>
    <p>Tipo de animal: @Model.AnimalDetail.TipoAnimal.TipoDescripcion</p>
    <p>Fecha de nacimiento: @Model.AnimalDetail.FechaNacimiento.ToString()</p>
</div>